body{
    color:white;
    background-color: #333;
}


.heading{
    font-family: 'Orbitron', sans-serif;
    margin:0px;
}

strong{
    color:red;
  }

.navbar{
    border-bottom: #008ed6 4px solid;
    opacity:0.9;

}

.fa-check:hover{
    color:red!important;
}

#home-section{
    background: url('../pics/home.jpg') no-repeat center center/cover ;
    /* background-attachment: fixed; */
    min-height:600px;
}

#home-section .dark-overlay{
    position:absolute;
    top:68px;
    left:0;
    width:100%;
    min-height:600px;
    background-color: rgba(0,0,0,0.7);
}

#home-section .home-inner{
    padding-top:120px;
}

#home-section .card-form{
    opacity:0.8;
    box-shadow: 3px 3px 3px rgb(194, 191, 191);
}

#home-section .fas{
    color: #008ed6;
}

#explore-section .fas{
    color: #008ed6;
   
}

.navbar a.navbar-brand{
     color: #008ed6;
     text-decoration: none;
}

.navbar a.navbar-brand:hover{
    color:#008ed6;
}

.fa-pied-piper{
    color:#008ed6;
}

.nav-item{
    font-size: 19px;
}

.nav-link{
    font-family: 'Orbitron', sans-serif!important;
    color:#008ed6!important;
    font-size: 20px;
    
}
.nav-link:hover{
    color:red!important;
}

 img{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    box-shadow: 2px 1px 5px #008ed6;
    ;
}

 img:hover{
    transform: scale(1.05);
    
}


#share-section .fas{
    color:#008ed6;
}


  
 

  
  